/* Override tag #1 */
#wall .tag-1 {
  display: none;
}

/* Override tag #2 */
#wall .tag-2 {
  display: none;
}

/* Override tag #3 */
#wall .tag-3 {
  display: none;
}

/* Override tag #4 */
#wall .tag-4 {
  display: none;
}

/* Override tag #5 */
#wall .tag-5 {
  display: none;
}

/* Override tag #6 */
#wall .tag-6 {
  display: none;
}

/* Override tag #7 */
#wall .tag-7 {
  display: none;
}
