/* Select the image with a class of kitty-1 */
.kitty-1 {
  position: absolute;
  z-index: 1;
  top: 276px;
  left: 129px;
}

/* Select the image with id of kitty-2 */
#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 212px;
  left: 369px;
}

/* Select the image inside the element with an id of basket */
#basket img {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

/* Select the image that is an adjacent sibling after the element with id ball */
#ball + img {
  position: absolute;
  z-index: 3;
  top: 245px;
  left: 240px;
}

/* Select the image with alt attribute equal to "Kitty 5" */
img[alt="Kitty 5"] {
  position: absolute;
  z-index: 4;
  top: 180px;
  left: 250px;
}
